<mat-card>
  <mat-card-header [routerLink]="['/home/products/', product.slug, product.id]">
    <mat-card-title>{{ product.name }}</mat-card-title>
  </mat-card-header>
  <img
    mat-card-image
    [src]="product.image?.url || 'src/assets/images/def_product.jpg'"
    alt=""
  />
  <mat-card-content>
    <p>{{ product.description }}</p>
    <span>Published: {{ product.published_at | date }}</span>
  </mat-card-content>
  <mat-card-actions>
    <button mat-fab color="accent" (click)="likeProduct('up')">
      <mat-icon>thumb_up</mat-icon>
    </button>
    <button mat-fab color="accent" (click)="likeProduct('down')">
      <mat-icon>thumb_down</mat-icon>
    </button>
    <button mat-fab color="accent">
      <mat-icon>add_shopping_cart</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>
