<h1>Detalles del Producto</h1>
<img [src]="productSubject.value?.image.url" />
<h3>Name: {{ productSubject.value?.name }}</h3>
<h4>Category: {{ productSubject.value?.category.name }}</h4>
<span>About: {{ productSubject.value?.description }}</span>
<mat-card>
  <mat-card-header>
    <mat-card-title>Product Information</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <span>
      Price<br />
      <b>{{ productSubject.value?.master.price | currency }}</b>
    </span>
    <span>
      Promo<br />
      <b>{{ productSubject.value?.master.promotional_price | currency }}</b>
    </span>
    <span>
      Available<br />
      <b>{{ productSubject.value?.master.stock }}</b>
    </span>
    <span>
      Likes<br />
      <b>{{ productSubject.value?.likes_up_count }}</b>
    </span>
    <span>
      Dislikes<br />
      <b>{{ productSubject.value?.likes_down_count }}</b>
    </span>
    <span>
      Added on<br />
      <b>{{ productSubject.value?.published_at | date }}</b>
    </span>
  </mat-card-content>
  <mat-card-actions>
    <button mat-fab color="accent" (click)="updateProduct('up')">
      <mat-icon>thumb_up</mat-icon>
    </button>
    <button mat-fab color="accent" (click)="updateProduct('down')">
      <mat-icon>thumb_down</mat-icon>
    </button>
    <button mat-fab color="accent">
      <mat-icon>add_shopping_cart</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>
