<mat-toolbar>
  <button
    mat-icon-button
    class="navbar-menu-icon"
    *ngIf="isLogged$ | async"
    (click)="onSidenavToggle()"
  >
    <mat-icon>menu</mat-icon>
  </button>
  <span>Store</span>
  <span class="spacer"></span>
  <button
    mat-icon-button
    class="navbar-menu-icon"
    [routerLink]="['/home']"
    *ngIf="isLogged$ | async"
  >
    <mat-icon>home</mat-icon>
  </button>
  <button
    mat-icon-button
    class="navbar-menu-icon"
    [routerLink]="['/cart']"
    *ngIf="isLogged$ | async"
  >
    <mat-icon>shopping_cart</mat-icon>
  </button>
  <button mat-icon-button class="navbar-menu-icon" *ngIf="isLogged$ | async">
    <mat-icon>search</mat-icon>
  </button>
  <button
    mat-icon-button
    class="navbar-menu-icon"
    (click)="openDialog()"
    *ngIf="isLogged$ | async"
  >
    <mat-icon>person</mat-icon>
  </button>
</mat-toolbar>
