:host {
  display: flex;
  flex-direction: column;
  padding: 16px;
  text-align: center;
  align-items: center;
}

img {
  margin: 16px 0;
  border-radius: 50%;
  object-fit: cover;
  width: 128px;
  height: 128px;
}

mat-card {
  margin-top: 16px;
  width: 100%;
}

mat-card-actions {
  display: flex;
  justify-content: space-around;
}
