<mat-toolbar>
  <button mat-icon-button class="navbar-menu-icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Store</span>
  <span class="spacer"></span>
  <button mat-icon-button class="navbar-menu-icon" [routerLink]="['']">
    <mat-icon>home</mat-icon>
  </button>
  <button mat-icon-button class="navbar-menu-icon" [routerLink]="['/cart']">
    <mat-icon>shopping_cart</mat-icon>
  </button>
  <button mat-icon-button class="navbar-menu-icon">
    <mat-icon>search</mat-icon>
  </button>
  <button mat-icon-button class="navbar-menu-icon" (click)="openDialog()">
    <mat-icon>person</mat-icon>
  </button>
</mat-toolbar>
