form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 32px 16px;
  border-radius: 4px;
  padding: 16px;
  border: 1px solid #757575;
  width: calc(100vw - 32px);
}

@media (min-width: 425px) {
  form {
    margin: 32px;
    width: calc(100vw - 64px);
  }
}

@media (min-width: 768px) {
  form {
    margin: 32px auto;
    width: 50vw;
  }
}

@media (min-width: 1024px) {
  form {
    width: 30vw;
  }
}
